# Ignore node_modules and lock files
node_modules
package-lock.json
yarn.lock

# Ignore iOS build artifacts
template/ios/Pods
template/ios/Podfile.lock
template/ios/Pods.xcodeproj
template/ios/Build
template/ios/build

# Ignore Android build artifacts
template/android/.gradle
template/android/build

# Ignore logs
*.log
